account_id="012345678901"
cidr="172.31.0.0/16"
environment_type="development"
key_name="key-pair"
jenkins_email="test@gmail.com"
jenkins_password="random_password"
jenkins_username="jenkins"
public_ip="1.1.1.1/32"
public_subnet="subnet-e3d2121e"
region="us-west-2"
stack_name="ci-cd"
tomcat_password="random_password"
tomcat_username="tomcat"
vpc_id="vpc-bf799644"
